################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppOwnsData
/AppOwnsData/bin/Debug/netcoreapp3.1
/AppOwnsData/obj
